@model MantenimientoRestringidoViewModel

@{
    ViewData["Title"] = "Restringidos";
}

<div class="text-center my-3">
    <h1>Mantenimiento de Restricción</h1>
    <p class="text-muted">Utiliza este formulario para gestionar los restringidos de la bolsa de trabajo.</p>
</div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<main class="container-fluid p-0">

    <form method="post">
        <section class="row border shadow bg-gradient text-white" style="background-color: darkred">
            <div class="col-3">
                <img src="@Url.Content("~/images/MenuCatalogos/Documentos.jpg")" alt="Demostración" class="img-fluid w-100 rounded-0" style="object-fit: cover; height: 100%;" />
            </div>
            <div class="col p-5">
                <div class="text-center">
                    <i class="bi bi-person text-white fs-1"></i>
                    <h1>Restringido</h1>
                </div>
                <h4 class="mb-4">Datos Personales</h4>
                <!-- Datos personales -->
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="Clave" class="form-label">Clave</label>
                        <input id="Clave" class="form-control" asp-for="Clave" type="text" />
                        <span asp-validation-for="Clave" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label for="APaterno" class="form-label">Apellido Paterno</label>
                        <input id="APaterno" class="form-control" asp-for="APaterno" type="text" readonly/>
                        <span asp-validation-for="APaterno" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label for="AMaterno" class="form-label">Apellido Materno</label>
                        <input id="AMaterno" class="form-control" asp-for="AMaterno" type="text" readonly />
                        <span asp-validation-for="AMaterno" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input id="Nombre" class="form-control" asp-for="Nombre" type="text" readonly />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                        <label asp-for="Sexo" class="form-label"></label>
                        <select disabled asp-for="Sexo" class="form-control" asp-items="Model.Sexos">
                            <option value="">Sexo</option>
                        </select>
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label for="FNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input id="FNacimiento" class="form-control" asp-for="FNacimiento" type="date" readonly/>
                        <span asp-validation-for="FNacimiento" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label for="FIngresoE" class="form-label">Fecha de Ingreso</label>
                        <input id="FIngresoE" class="form-control" asp-for="FIngresoE" type="date" readonly/>
                        <span asp-validation-for="FIngresoE" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label for="FIngresoM" class="form-label">Fecha de Restricción</label>
                        <input id="FIngresoM" class="form-control" asp-for="FIngresoM" type="date" readonly/>
                        <span asp-validation-for="FIngresoM" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                        <label asp-for="Departamento" class="form-label"></label>
                        <select disabled asp-for="Departamento" class="form-control" asp-items="Model.Departamentos">
                            <option value="">Departamentos</option>
                        </select>
                        <span asp-validation-for="Departamento" class="text-danger"></span>

                    </div>
                    <div class="col-md-2">
                        <label asp-for="Puesto" class="form-label"></label>
                        <select disabled asp-for="Puesto" class="form-control" asp-items="Model.Puestos">
                            <option value="">Puestos</option>
                        </select>
                        <span asp-validation-for="Puesto" class="text-danger"></span>

                    </div>
                    <div class="col-md-3">
                        <label asp-for="Motivo" class="form-label"></label>
                        <input id="Motivo" class="form-control" asp-for="Motivo" type="text" />
                        <span asp-validation-for="Motivo" class="text-danger"></span>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="submit" name="action" value="guardar" class="btn btn-primary" style="width: 200px">
                            <i class="bi bi-save"></i> Guardar
                        </button>
                    </div>

                </div>
            </div>
        </section>
    </form>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("Clave").addEventListener("blur", function () {
                const clave = this.value;

                function formatFecha(fecha) {
                    if (!fecha) return '';
                    const date = new Date(fecha);
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const day = String(date.getDate()).padStart(2, '0');
                    return `${year}-${month}-${day}`;
                }


                if (clave) {
                    fetch(`/MantenimientoRestringido/GetRestringidoByClave?clave=${clave}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data) {
                                console.log(data);
                                // Rellena los campos con los datos obtenidos
                                document.getElementById("APaterno").value = data.aPaterno;
                                document.getElementById("AMaterno").value = data.aMaterno;
                                document.getElementById("Nombre").value = data.nombre;
                                document.getElementById("FNacimiento").value = formatFecha(data.fNacimiento);
                                document.getElementById("FIngresoE").value = formatFecha(data.fIngresoE);
                                document.getElementById("FIngresoM").value = formatFecha(data.fIngresoM);

                                // Selecciona los valores en los dropdowns si existen
                                document.getElementById("Sexo").value = data.sexo;
                                document.getElementById("Departamento").value = data.departamento;
                                document.getElementById("Puesto").value = data.puesto;
                                document.getElementById("Motivo").value = data.motivo;  
                            } else {
                                alert("No se encontró una vacante con la clave proporcionada.");
                            }
                        })
                        .catch(error => console.error('Error al obtener los datos:', error));
                }
            });
        });
    </script>

}