@{
    ViewData["Title"] = "Menu de Reportes";
}
<div style="background-color: #133E87;">
    <h1 style="text-align: center" class="moving-text pb-2 text-white">Reportes</h1>
    <h5 class="text-center text-white pb-3 moving-text">El espacio en donde podras dirigirte a cualquier reporte de tu empresa</h5>
</div>


<div class="contenedorCatalogos py-5">
    <a href="@Url.Action("ReportesB", "ReporteBolsa")">
        <div class="card my-card shadow rounded card1" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Reportes de Bolsa</p>
            </div>
        </div>
    </a>

    <a href="@Url.Action("ReportesE", "ReporteEmpleado")">
        <div class="card my-card shadow rounded card2" style="width: 15rem; height: 15rem">
            <div class="card-body">
                <p class="card-text">Reportes de Empleado</p>
            </div>
        </div>
    </a>
</div>